@use '../../variables' as *;

:host {
  display: block;
  max-height: 750px;
  max-width: 1300px;
  padding: 0 $footer-padding;
  overflow-y: auto;
  box-sizing: border-box;
}

@include typography-defaults;

.project-columns {
  display: flex;
  gap: 20px;
  margin-top: 20px;

  div {
    display: flex;
    flex-direction: column;
    flex: 1;

    app-carousel {
      align-self: center;
      margin-top: 20px;
    }
  }
}
