@use '../../variables' as *;

:host {
  @include flex-center(row, 20px);
  max-width: 700px;
  padding: $frame-padding;
}

.photo {
  img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    animation: morph 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

p {
  margin: 0;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.top {
  font-size: 1.5rem;
  font-weight: 500;
  color: #4e4d47;
}

.middle {
  font-size: 2.8rem;
  font-weight: 700;
  color: $color-secondary;
}

.bottom {
  font-size: 1.2rem;
  font-weight: 400;
}

.longer-description {
  font-style: italic;
  font-weight: 500;
  color: black;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}
