@use '../../variables' as *;

:host {
  max-width: 1000px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  background-color: $color-secondary;
  height: 50px;
  border-bottom: 2px solid $color-secondary-dark;
}

li {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 25px;
  cursor: pointer;
  font-size: 1.2rem;
  color: $color-secondary-dark;
  transition: background-color 0.2s;
  border-right: 1px solid rgba($color-secondary-dark, 0.3);

  &:last-child {
    border-right: none;
  }

  &:hover {
    background-color: $color-secondary-dark;
    color: white;
  }
}

.content {
  padding: $frame-padding;
}
