@use '../variables' as *;

@mixin flex-center($direction: column) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

%side-column {
  @include flex-center;
  box-sizing: border-box;
  padding: 40px 0;
}

:host {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: 1fr 130px;
  grid-template-areas:
    'left    main    right'
    'footer  footer  footer';
}

.left-column {
  @extend %side-column;
  grid-area: left;
  justify-content: flex-start;
}

.right-column {
  @extend %side-column;
  grid-area: right;
  justify-content: flex-end;
}

.content {
  grid-area: main;
  @include flex-center;
}

.footer {
  grid-area: footer;
  @include flex-center(row);
  gap: 15px;
  background-color: rgba($color-primary, 0.9);
  padding: 20px;
  box-sizing: border-box;
}

.nav-link,
.footer a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  @include flex-center;
  transition: transform 0.2s ease;

  img {
    width: 80px;
    height: 80px;
    object-fit: contain;
  }

  span {
    font-size: 1.3rem;
    color: $color-text;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.nav-link.active {
  span {
    color: $color-primary;
    font-weight: bold;
  }
}

.clickable {
  @include flex-center;
  gap: 30px;
}

p {
  font-size: 2.2rem;
  margin: 2px;
}
