@use '../variables' as *;

%side-column {
  @include flex-center;
  box-sizing: border-box;
  padding: $side-column-padding;
}

:host {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: $side-column-width 1fr $side-column-width;
  grid-template-rows: 1fr $footer-height;
  grid-template-areas:
    'left    main    right'
    'footer  footer  footer';
}

.left-column {
  @extend %side-column;
  grid-area: left;
  justify-content: flex-start;
}

.right-column {
  @extend %side-column;
  grid-area: right;
  justify-content: flex-end;
}

.content {
  grid-area: main;
  @include flex-center;
}

.footer {
  grid-area: footer;
  @include flex-center(row, 15px);
  background-color: rgba($color-primary, 0.9);
  box-sizing: border-box;
  padding: $footer-padding;
}

.nav-link,
.footer a {
  @include flex-center;
  transition: transform 0.2s ease;

  img {
    width: $icon-size;
    height: $icon-size;
    object-fit: contain;
  }

  span {
    font-size: 1.3rem;
    color: $color-text;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.nav-link.active {
  span {
    color: $color-primary;
    font-weight: bold;
  }
}

.clickable {
  @include flex-center(column, 30px);
}

p {
  font-size: 2.2rem;
  margin: 2px;
}

.intro-text {
  animation: fadeIn 0.5s ease-in forwards;
  text-align: center;

  &.fading-out {
    animation: fadeOut 0.3s ease-out forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
