@use '../../../variables' as *;

@include typography-defaults;

.project-columns {
  display: flex;
  gap: 20px;
  margin: 20px 0;

  div {
    display: flex;
    flex-direction: column;
    flex: 1;

    iframe {
      align-self: center;
      margin-top: 20px;
      @include iframe-style();
    }

    app-carousel {
      align-self: center;
      margin-top: 20px;
    }
  }
}

a:hover {
  text-decoration: underline;
  color: $color-secondary-dark;
}

.docs {
  @include flex-center(column, 20px);
  margin: 20px 0;

  iframe {
    @include iframe-style();
  }
}
