$color-primary: #646a44;
$color-secondary: #f2b67a;
$color-secondary-dark: #b9640f;
$color-background: #f6f0e0;
$color-surface: #f6f0e0;
$color-close: #f17a82;
$color-text: #161616;

$font-big: 'Aboreto', system-ui;
$font-regular: 'Work Sans', sans-serif;
$h1-regular-size: 6rem;

$side-column-padding: 40px 0;
$side-column-width: 200px;
$footer-height: 120px;
$footer-padding: 20px;
$icon-size: 80px;

$frame-border-width: 3px;
$frame-border-color: $color-text;
$frame-radius: 20px;
$frame-bg: rgb(255, 254, 249);
$frame-padding: 20px;
$frame-font-size: 1.2em;
$frame-font-weight: 400;

$bar-padding: 5px 15px;
$bar-btn-size: 30px;

@mixin flex-center($direction: column, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  gap: $gap;
}
