$color-primary: #646a44;
$color-secondary: #f2b67a;
$color-background: #f6f0e0;
$color-surface: #f6f0e0;
$color-close: #f17a82;
$color-text: #161616;

$font-big: 'Aboreto', system-ui;
$font-regular: 'Work Sans', sans-serif;
