@use './variables' as *;

body {
  background-size: 25px 25px;
  margin: 0;
  background-color: $color-background;
  background-image:
    linear-gradient(to right, rgba($color-primary, 0.25) 1px, transparent 1px),
    linear-gradient(to bottom, rgba($color-primary, 0.25) 1px, transparent 1px);

  font-family: $font-regular;
  color: $color-text;
}

h1 {
  font-family: $font-big;
  font-size: 6rem;
  margin: 0;
  color: $color-primary;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
}
